body {
  font-family: Arial, sans-serif;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blob {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  z-index: -1;
}

.blob1 {
  background: radial-gradient(circle, #ff8c00, #ffd700);
  animation: blobMove1 10s infinite, blobColor1 10s infinite;
}

.blob2 {
  background: radial-gradient(circle, #00bfff, #0000ff);
  animation: blobMove2 10s infinite, blobColor2 10s infinite;
}

.blob3 {
  background: radial-gradient(circle, #8a2be2, #ffc0cb);
  animation: blobMove3 10s infinite, blobColor3 10s infinite;
}

@keyframes blobMove1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, -100px);
  }
  50% {
    transform: translate(-100px, 100px);
  }
  75% {
    transform: translate(50px, -50px);
  }
}

@keyframes blobMove2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100px, 100px);
  }
  50% {
    transform: translate(100px, -100px);
  }
  75% {
    transform: translate(-50px, 50px);
  }
}

@keyframes blobMove3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 100px);
  }
  50% {
    transform: translate(-100px, -100px);
  }
  75% {
    transform: translate(50px, 50px);
  }
}

@keyframes blobColor1 {
  0%,
  100% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 75% 25%;
  }
  50% {
    background-position: 25% 75%;
  }
  75% {
    background-position: 75% 75%;
  }
}

@keyframes blobColor2 {
  0%,
  100% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 75% 25%;
  }
  75% {
    background-position: 25% 25%;
  }
}

@keyframes blobColor3 {
  0%,
  100% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 75% 75%;
  }
  50% {
    background-position: 25% 25%;
  }
  75% {
    background-position: 25% 75%;
  }
}
